@media (max-width: 1056px) {
    .login-form{
        width: 35%;
    }
}
@media (max-width: 992px) {
    #log{
        right: 10%;
    }
    #back{
        left: 10%;
    }
    .login-form{
        width: 40%;
    }
}
@media (max-width: 778px) {
    #log{
        right: 10%;
    }
    .login-form{
        width: 50%;
    }
}
@media (max-width: 600px) {
    #log{
        right: 5%;
    }
    #back{
        left: 5%;
    }
    .log-txt{
        display: none;
    }
    .back-txt{
        display: none;
    }
    header{
        font-size: 15px;
    }
    .login-form{
        width: 80%;
    }
    .login-header{
        font-size: 25px;
    }
    
}